body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(55, 29, 70);
}

.container {
  display: flex;
  width: auto;
  height: auto;
  gap: 20px;
}

section {
  background: rgb(186, 141, 210);
  border-radius: 5px;
}

.tools-board {
  width: 20vw;
  min-width: 100px;
  height: 100%;
  padding: 20px 20px 0px;
  font-weight: bold;
}

.buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons button {
  transition: all 0.2s ease;
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  font-weight: bold;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttons .clear-canvas {
  color: #565d63;
  border: 2px solid #6C757D;
}

.clear-canvas:hover {
  color: #fff;
  background: #6C757D;
}

.buttons .save-img {
  background: #4A98F7;
  border: 2px solid #4A98F7;
}

.buttons .save-img:hover {
  background: #bf5188;
}

.buttons .guess-button {
  background: #5c3c92;
  border: 2px solid #5c3c92;
  margin-top: 20px;
}

.buttons .guess-button:hover {
  background: #bf5188;
}

.buttons .guess-button:active {
  background: #6d2d4d;
}

.drawing-board {
  flex: auto;
  overflow: auto;
}

.drawing-board canvas {
  min-width: 200px;
  min-height: 200px;
  max-width: 90vh;
  max-height: 90vh;
  width: 50vw;
  height: 50vw;
}

.eye-logo {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: fill;
  justify-content: center;
}

.eye-logo:hover {
  cursor: pointer;
}

eye-output {
  height: 100%;
  display: none;
  color: #5c3c92;
  font-size: 20vw;
  justify-content: center;
}

eye-display {
  height: 500px;
  width: 500px;
  width: 100%;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .eye-logo {
    animation: eye-logo-spin infinite 60s linear;
  }
}

@keyframes eye-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}